@font-face {
  font-family: "Title-font";
  src: url("../font/DrukCond-Super-Trial.otf");
}

@font-face {
  font-family: "About-font";
  src: url("../font/Panchang-Bold.otf");
}

:root {
  --primary-color3: #2125;
  --primary-color: #1a1a1a;
  --primary-color2: #111315;
  --aboutcolor: #5b5a5a;
  --about-color: #1d1b22;
  --heading: #e7f6ff;
  --bg: #f7b126c1;
  /* --bg: #4b93ffc0; */
  /* --bg: #0a7273; */
  --text: #f8623dab;
  --select: #54acfa;
  --skill: #4dd173c0;
  --skill: #fab833b8;
  --project: #fab833b8;
  --project2: #4a7766;
  /* --project:#64ff90c0; */
  --bg2: #EAC17C;
  --bg3: #646d7c;
  --bg4: #4a5128;
}

/* Portfolio\src\components\home.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--primary-color);
  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    radial-gradient(circle, rgba(0, 255, 255, 0.1) 1px, transparent 1px),
    radial-gradient(circle, rgba(255, 0, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(154, 153, 153, 0.081) 2px, transparent 2px),
    linear-gradient(180deg, rgba(154, 153, 153, 0.081) 2px, transparent 2px);
  background-size: 50px 50px, 100px 100px, 150px 150px, 300px 300px, 300px 300px;
}

*::-webkit-scrollbar {
  width: 0;
}


/* Home */
.home {
  position: relative;
  width: 100%;
  min-height: 103vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 2rem;
}


/* Home Text */
.home-text {
  position: absolute;
  top: 2%;
  display: flex;
  flex-direction: row;
}

.home-text span {
  user-select: none;
  font-size: 25rem;
  margin: 0 10px;
  font-family: "Title-font", sans-serif;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.home-text span:nth-child(odd) {
  transform: translateY(-20px);
}

.home-text span:nth-child(even) {
  transform: translateY(15px);
}

/* Home Image */
.home-img {
  user-select: none;
  bottom: -2%;
  z-index: 1;
  width: 550px;
  position: absolute;
  filter: brightness(0.8) contrast(1.2);
}


/* Media Queries */

@media (max-width: 1250px) {
  .home-text {
    top: 2%;
  }

  .home-text span {
    font-size: 24rem;
  }

  .home-img {
    width: 45vw;
  }
}


@media (max-width: 1150px) {

  .home {
    min-height: 105vh;
  }

  .home-text {
    top: 2%;
  }

  .home-text span {
    font-size: 22rem;
  }

}



@media (max-width: 992px) {
  .home {
    min-height: 100vh;
  }

  .home-text {
    top: 5%;
  }

  .home-text span {
    font-size: 18rem;
  }

  .home-img {
    bottom: 0%;
    width: 500px;
  }
}



@media (max-width: 768px) {

  .home-text {
    top: 18%;
  }

  .home-text span {
    font-size: 14rem;
  }


  .home-text span:nth-child(odd) {
    transform: translateY(-10px);
  }

  .home-img {
    width: 460px;
    bottom: 2%;
  }
}



@media (max-width: 600px) {

  .cursor {
    display: none;
  }

  .home {
    min-height: 95vh;
  }

  .home-text {
    top: 20%;
  }

  .home-text span {
    font-size: 24vh;
    margin: 0 2px;
  }

  .home-text span:nth-child(odd) {
    transform: translateY(-10px);
  }

  .home-text span:nth-child(even) {
    transform: translateY(5px);
  }

  .home-img {
    width: 400px;
  }
}

@media (max-width: 500px) {

  .home {
    min-height: 95vh;
  }

  .about-img {
    padding: 0.4em;
    width: 75vw;
    height: 42vh;
    margin-bottom: 1rem;
  }

  .home-text {
    top: 20%;
  }

  .home-text span {
    font-size: 18vh;
    margin: 0 1px;
  }

  .home-img {
    width: 380px;
    bottom: 0;
  }
}